<h1>Stupid Coaching</h1>
<div class="dialog">
  <p><%= @question %></p>
  <p><em>- You </em></p>
</div>
<div class="dialog answer">
  <p><%= @answer %></p>
  <p><em>- Your coach </em></p>
</div>

<p><%= link_to 'Ask another question', ask_path %></p>
